[access]
	inheritFrom = All-Projects
[access "refs/for/refs/heads/*"]
	pushMerge = group Xiaomi Beryllium Maintainers
[access "refs/heads/*"]
	create = group Xiaomi Beryllium Maintainers
	push = +force group Xiaomi Beryllium Maintainers
	pushMerge = group Xiaomi Beryllium Maintainers
	label-Code-Review = -2..+2 group Xiaomi Beryllium Maintainers
	label-Verified = -1..+1 group Xiaomi Beryllium Maintainers
	submit = group Xiaomi Beryllium Maintainers
