type bt_firmware_file, file_type;
type debugfs_ion, debugfs_type, fs_type;
type firmware_file, fs_type, contextmount_type;
type persist_file, file_type;
type proc_pci, proc_type, fs_type;
type sensors_persist_file, file_type;
type sysfs_devfreq, fs_type, sysfs_type;
type sysfs_kgsl, sysfs_type, fs_type;
type sysfs_white_led, sysfs_type, fs_type;
type sysfs_wireless_supply, sysfs_type, fs_type;
type sysfs_touchpanel, sysfs_type, fs_type;
type sysfs_fts_touchpanel, sysfs_type, fs_type;
