type diag_device, dev_type;

type proc_pci, proc_type, fs_type;

type qti_debugfs, fs_type, debugfs_type;

type sysfs_touchpanel, sysfs_type, fs_type;
type sysfs_white_led, sysfs_type, fs_type;
type sysfs_wlan, fs_type, sysfs_type;
type sysfs_block, fs_type, sysfs_type;

type firmware_file, file_type, vendor_file_type;
type bt_firmware_file, file_type, vendor_file_type;
