# Allow init to mount wlan kernel module
allow init { system_file vendor_file }:file mounton;

# Allow init to mount offmode charging daemon
allow init rootfs:file mounton;

# Allow init to mount vendor configs
allow init vendor_configs_file:dir mounton;
allow init vendor_overlay_file:file mounton;

# Allow init to process
allow init { tee -tzdatacheck -ueventd -vendor_init }:process noatsecure;

allow init bt_firmware_file:filesystem getattr;
allow init { sysfs_devices_block sysfs_white_led }:file setattr;
