get_prop(system_app, qemu_hw_mainkeys_prop);

allow system_app fs_bpf:dir { search };
allow system_app sysfs_leds:file rw_file_perms;
allow system_app proc_pagetypeinfo:file read;
allow system_app sysfs_zram:dir search;
