allow untrusted_app persist_camera_prop:file { getattr open read };
allow untrusted_app sysfs_zram:dir search;
allow untrusted_app sysfs_zram:file { getattr open read };
allow untrusted_app sysfs_kgsl:dir search;
allow untrusted_app sysfs_kgsl:file { getattr open read };
allow untrusted_app sysfs_devfreq:dir search;
allow untrusted_app sysfs_devfreq:dir search;

allow untrusted_app_25 rootfs:dir read;
allow untrusted_app_25 sysfs_kgsl:dir search;
allow untrusted_app_25 sysfs_kgsl:file { getattr open read };
allow untrusted_app_25 net_dns_prop:file read;

allow untrusted_app_27 apexd_prop:file { getattr open };
allow untrusted_app_27 proc_net:file { getattr open read };
allow untrusted_app_27 proc_zoneinfo:file { getattr open read };
allow untrusted_app_27 sysfs_kgsl:dir search;
allow untrusted_app_27 sysfs_kgsl:file { getattr open read };
allow untrusted_app_27 sysfs:dir { read open };
allow untrusted_app_27 sysfs:file getattr;
allow untrusted_app_27 self:udp_socket ioctl;
allow untrusted_app_27 vold_exec:file read;

allow untrusted_app_27 persist_camera_prop:file { getattr open read };
allow untrusted_app_27 sysfs_android_usb:dir { open read };
allow untrusted_app_27 sysfs_net:dir read;
allow untrusted_app_27 block_device:dir search;
allow untrusted_app_27 bt_firmware_file:dir getattr;
allow untrusted_app_27 bt_firmware_file:filesystem getattr;
allow untrusted_app_27 self:udp_socket ioctl;
